{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript">
    window.setTimeout(function () {
    location.href = "http://127.0.0.1:8000/";
}, 5000); // refresh/redirect after 5 seconds.
    </script>
    <meta charset="utf-8">
    <title>Item Tracker App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div>
      <h2>ITEM TRACKER APP - main list</h2>
    </div>
    <br>
    <a href="{% url 'new_item' %}">New Item</a>
    <br>
    <div>
    <table class="mainlist" id="_appendHere">
      <thead>
      <tr>
        <th>ID</th>
        <th>System</th>
        <th>Process</th>
        <th>Business Segment</th>
        <th>Starting Date</th>
        <th>Days to Complete</th>
        <th>Deadline</th>
        <th>Ageing</th>
        <th>Ticket Number</th>
        <th>Email Subject</th>
        <th>Status</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Supplier</th>
        <th>Supplier Number</th>
        <th>Supplier Email</th>
        <th>Action Started</th>
        <th>Output Number</th>
        <th>Completion Date</th>
        <th>Pass or Fail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr style="{% if task.get_status_display == "completed" %}background-color:#7cff75{% elif task.get_status_display == "pending" %}background-color:#fffd6e{% endif %}">
        <td><a href="{% url 'edit_item' task.id %}">{{task.id}}</a></td>
        <td>{{task.get_system_display}}</td>
        <td>{{task.get_process_display}}</td>
        <td>{{task.get_business_segment_display}}</td>
        <td>{{task.starting_date}}</td>
        <td>{{task.days_to_complete}}</td>
        <td>{{task.deadline}}</td>
        <td>{{task.get_ageing_display}}</td>
        <td>{{task.ticket_number}}</td>
        <td>{{task.email_subject}}</td>
        <td>{{task.get_status_display}}</td>
        <td>{{task.get_name_display}}</td>
        <td>{{task.contact}}</td>
        <td>{{task.supplier}}</td>
        <td>{{task.supplier_number}}</td>
        <td>{{task.supplier_email}}</td>
        <td>{{task.action_started}}</td>
        <td>{{task.output_number}}</td>
        <td>{{task.completion_date}}</td>
        <td>{{task.get_pass_or_fail_display}}</td>
        <td><a href="{% url 'delete' task.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    <br>
  </body>
</html>
