body {
  background-color: #457b9d;
  font-family: 'Lato', sans-serif;
}
#title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 6vh;
  color: #f1faee;
  padding-bottom: 0;
  margin-bottom: 0;
  text-shadow: 3px 3px #05090b;
}
#addNew {
  font-size: 5vh;
  padding-left: 2vw;
}
.far {
  color: #f1faee;
}
.far:hover {
  color: #05090b;
}
.sortingIcon {
  color: #05090b;
}
.sortingIcon:hover {
  color: #457b9d;
}
#tableDiv {
  overflow-x:auto;
}
.mainlist {
  border-spacing: 0;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
/* .mainlist {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 80vw;
} */

th, tr, td {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}
tr.header, tr:hover {
  background-color: #f8f9fa !important;
}
/* screens smaller than 1000px */
@media screen and (max-width: 1200px) {
  .mainlist {
    width: 1100px;
  }
  td, th {
    padding: 2px;
  }
}

tr:nth-child(even) {
  background-color: #ced4da;
}
tr:nth-child(odd) {
  background-color: #e9ecef;
}
#edit {
  background-color: #1d3557;
}
#edit > a {
  color: white;
}
#edit:hover {
  background-color: #05090b;
}
#delete:hover {
  background-color: #e63946;
}
#delete > a {
  color: black;
}
a {
  text-decoration: none;
  color: #1d3557;
}
a:visited {
  text-decoration: none;
}
